@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
::selection{
  color: #fff;
}
.edit-profile-container{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  place-items: center;
  margin-bottom: 30px;
  /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
}
.edit-profile-wrapper{
  width: 60%;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.edit-profile-wrapper .title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(-135deg, #f4856d, #ff5733);

}
.edit-profile-wrapper form{
  padding: 10px 30px 20px 30px;
}

.edit-profile-wrapper form .field{
  width: 100%;
  margin-top: 10px;
  position: relative;
}
.edit-profile-wrapper form .field input,textarea{
  padding: 10px 10px;
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 10px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}
.field-gender{
  display: flex;
  flex-direction: column;
  align-items: start;
}
.gender-options { 
  height: 100%;
  font-size: 17px;
  padding: 0px 10px;
  display: flex;
  gap: 30px;
}

form .edit-field .edit-btn{
  padding: 10px;
  width: 40%;
  outline: none;
  color: #fff;
  border: none;
  margin: 10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #f4856d, #ff5733);
  transition: all 0.3s ease;
  border-radius: 10px;
}
form .field .edit-btn .cancel{
  margin-left: 160px;
}

form .field .edit-btn:active{
  transform: scale(0.95);
}

.edit-field{
  width: 100%;
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 680px)  {
  .edit-profile-wrapper{
    width: 80%;
  }
  .edit-field{
    flex-direction: column;
    align-items: center;
  }
  form .edit-field .edit-btn{
    width: 60%;
  }
}