/* Footer.css */

/* Base styles for all screen sizes */
.tm-footer {
    background-color: #ccc;
    padding: 20px;
    text-align: center;
}

.tm-footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.tm-footer-logo img {
    max-width: 100px;
    max-height: 60px;
    border-radius: 3px;
}

.tm-footer-links a,Link{
    text-decoration: none;
    color: #333;
    margin-right: 30px;
}

.tm-footer-social img {
    width: 24px;
    border-radius: 5px;
    margin-right: 20px;
}

.tm-footer-copyright {
    margin-top: 10px;
    font-size: 14px;
    color: #222;
}

/* Media queries for responsiveness */
@media (max-width: 576px) {
    /* Styles for mobile screens */
    .tm-footer-content {
        flex-direction: column;
    }
    .tm-footer-links {
        margin-top: 20px;
    }
}

@media (min-width: 577px) and (max-width: 991px) {
    /* Styles for tablet screens */
    .tm-footer-links a {
        margin-right: 10px;
    }
}
@media screen and (max-width: 480px) {
    .tm-footer-links{
        margin: auto;
        margin-bottom: 15px;
    }
}
